body {
    background-color: #110881;
}

nav {
    background-color: rgb(255, 254, 255);
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    color: white;
   font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

.paglogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    flex-grow: 3;
}


