body {
    background-color: #110881;
}

nav {
    background-color: rgb(255, 254, 255);
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    color: rgb(7, 0, 0);
   font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

.menu a:hover{
    background-color: #110881;
    color: white;
    border: 5px #110881 solid;
    border-radius: 3px;

}

.paglogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    flex-grow: 3;
}

.logo img{
    width: 20%;    
}

h1 {
    color: white;
}

