.container {
    margin-top: 0%;
    margin-bottom: 0%;
    color: antiquewhite;
} 

body {

    background-image: url("imgP/fondo.jpg");
    background-image: no-repeat;
    background-size: cover;
}  
